# ENV vars needed
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BIZwygoAKgv0oliFPcC5Oas61FAq7QbIKGw5NredL5_dsIc0OFO--hAz3d0stR6LKNI2xTrqp0AKYz2nvp2X6tE

VAPID_PRIVATE_KEY=1O251qrY3wfJM1iuRzm5l1KUTJu25GcAd-y3r58rj-w

CRON_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxZHVvY2ZhbGhubmR6ZXlzdXhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0MTk3ODcsImV4cCI6MjA4Mzk5NTc4N30.f1U4fQ-YHsUfUefnJ95OSqKehGWTApvsdW7ufkHYrm8

SUPABASE_URL=https://vqduocfalhnndzeysuxd.supabase.co

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxZHVvY2ZhbGhubmR6ZXlzdXhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODQxOTc4NywiZXhwIjoyMDgzOTk1Nzg3fQ.OENBnnT4ASqraE9Zfc6NXFe4DbzQOwGMKp3hGdUdibo

NEXT_PUBLIC_SUPABASE_URL=https://vqduocfalhnndzeysuxd.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxZHVvY2ZhbGhubmR6ZXlzdXhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0MTk3ODcsImV4cCI6MjA4Mzk5NTc4N30.f1U4fQ-YHsUfUefnJ95OSqKehGWTApvsdW7ufkHYrm8
